.gform_wrapper .top_label .gfield_label {

}

.gform_wrapper ul li:before, .gform_wrapper ul li:after, .gform_wrapper ul.gform_fields {

}

.gform_wrapper ul {
    text-indent: 0;
    margin: 0;
    list-style-type: none;
}

.gform_wrapper form {
}

.gfield_error .gfield_description.validation_message {

}

.gfield_error {
    input, textarea{ 

    }
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {

}

.gform_footer{
}