@mixin placeholder($color: $placeholderText) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

@mixin font-size($sizeValue) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
}

.visually-hidden{
  clip: rect(0 0 0 0);
  width:   1px;
  height:  1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border:  0;
  position: absolute;
}

@mixin btn($color, $bg){
  color: $color;
  background: $bg;

  &:hover, &:focus{
    background: lighten($bg, 8%);
  }
  &:active{
    background: darken($bg, 8%);
  }

  // &.uk-button-outline{
  //   color: $bg;
  //   background: $color;
  //   border: 1px solid $bg;
  //   &:hover, &:focus{
  //     color: lighten($bg, 8%);
  //     border: 1px solid lighten($bg, 8%);
  //   }
  //   &:active{
  //     color: darken($bg, 8%);
  //     border: 1px solid darken($bg, 8%);
  //   }
  // }

  // &.uk-button-trans{
  //   background: rgba($bg, .6);

  //   &:hover, &:focus{
  //     background: rgba($bg, .8);
  //   }
  //   &:active{
  //     background: rgba($bg, .4);
  //   }   
  // }

}