.wp-pagenavi{
  clear:both;
  text-align:center;
  margin-bottom: 20px;
  .current, .page, .nextpostslink, .previouspostslink{
    width:36px;
    height:36px;
    display: inline-block;
    line-height: 36px;
    text-align:center;
    margin:2px;
  }
  .current{background: $primary-color; color:#fff;}
  .page, .nextpostslink, .previouspostslink{
    border: 1px solid $primary-color;
    color:$primary-color;
    transition: all, .3s,ease-out;
    &:hover {
      background: $primary-color;
      color:#fff;
      text-decoration: none;
    }

    // Active state
    // ------------

    &:active,
    &.active {
      background: $primary-color;
    }

    // Focus state
    // -----------

    &:focus {
      outline: none;
    }
  }
}
