.uk-social-links{
  padding:8px;
  line-height: 37px;
  text-transform: uppercase;
  @include font-size(24);
  ul{
    list-style: none;
    margin:0;
    padding: 0;
    text-align: center;
    li{
      margin-right: 20px;
      display: inline-block;
      &:before{display: none;}
      &:last-child {
        margin-right: 0
      }
    }
  }
  a{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    color: $white;
    background-color: $primary-color;
    transition: all .2s ease;
    &:hover, &:focus{
      text-decoration: none;
      &.facebook{
        background-color:#39579A;
      }
      &.twitter{
        background-color:#00AAF3;
      }
      &.gplus{
        background-color:#d64730;
      }
      &.pinterest{
        background-color:#cb2027;
      }
      &.instagram{
        background-color:#517fa4;
      }
      &.linkedin{
        background-color:#007bb6;
      }
      &.youtube{
        background-color:#bb0000;
      }
    }
  }

  .share-count a {
    height: 70px;
    width: 48px;
  }
  .chicon-youtube2 {
    font-size: 1.2rem;
    vertical-align: text-top;
    margin-top: 7px;
    display: inline-block;
  }
}

.share-count--icon {
  width: 48px;
  height: 36px;
  display: block;

  svg {
    vertical-align: text-top;
  }

}
.share-count--count {
  width: 48px;
  height: 34px;
  background: $white;
  display: block;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-top: 0;
  font-size: 1.4rem;
  position: relative;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid $white;
    position: absolute;
    top:-3px;
    z-index: 1;
    left: 19px;
  }
}