.padding-large{
  padding:$gutter*2;
  @media(min-width: $breakpoint-medium){
    padding: $gutter*2;
  }
}
.padding-xlarge{
  padding:$gutter*2;
  @media(min-width: $breakpoint-medium){
    padding: $gutter*4 ;
  }
  @media(min-width: $breakpoint-xlarge){
    padding: $gutter*6 $gutter*6;
  }
}

.padding-verti{
  padding-top:$gutter;
  padding-bottom:$gutter;
}

.padding-verti-large{
  padding-top:$gutter*2;
  padding-bottom:$gutter*2;
  @media(min-width: $breakpoint-medium){
    padding-top: $gutter*3;
    padding-bottom: $gutter*3;
  }
}
.padding-verti-xlarge{
  padding-top:$gutter*2;
  padding-bottom:$gutter*2;
  @media(min-width: $breakpoint-medium){
    padding-top: $gutter*4;
    padding-bottom: $gutter*4;
  }
  @media(min-width: $breakpoint-large){
    padding-top: $gutter*6;
    padding-bottom: $gutter*6;
  }
}
.uk-bordered-top{
  border-top:1px solid $border-color;
}
.uk-bordered-bottom{
  border-bottom:1px solid $border-color;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
