//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================


// Global variables
// ========================================================================

//
// Breakpoints
//

// 
$white:                                        #fff;
$black:                                        #000;
$gray:                                         #666;
$grayLight:                                    #efefef;
$grayDark:                                     #222;
$blue:                                         #0000FF;
$green:                                        #00FF00;
$red:                                          #FF0000;
$gutter:                                        20px;
$sans-serif:                                   "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:                                         serif;