$white:                      #fff;
$black:                      #000;
$gray:                       #666;
$grayLight:                  #efefef;
$grayDark:                   #222;
$blue:                       #0000FF;
$green:                      #00FF00;
$red:                        #FF0000;
$orange:                     #FE7A23;
$yellow:					#ffff00;
$purple: 					#7F00FF;
$pink:						#ffd2e8;
$gutter:                     20px;
$sans-serif:                 "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:                      serif;

$primary-color:              $red;
$secondary-color:            $green;
$border-color:               $primary-color;
