/* Wordpress classes */

.aligncenter { display: block; margin: 0 auto; text-align: center;}
.alignleft { float: left; margin: 0 10px 10px 0;}
.alignright { float: right;  margin: 0 0 10px 10px;}
.alignnone{
    margin: 5px 10px 10px 0;
    display: block;
}
.wp-caption-text{

}
.sticky{
}
.gallery-caption{

}
.bypostauthor{
    
}

.uk-offcanvas-page{
    #wpadminbar{
        margin-top:-46px;
        @media (min-width: 600px){
            margin-top:0;
        }
    }
}